html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../font/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../../font/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../../font/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Montserrat-Thin";
  src: url("../../font/Montserrat-Thin.ttf");
}

body {
  font: 18px "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  min-height: 1000vh;
  overflow-x: hidden;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body ul,
body li {
  padding: 0;
  margin: 0;
}

footer {
  margin-top: 481px;
}

footer .footer_container .footer_contact_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-bottom: 1px solid black;
  padding-bottom: 41px;
  height: 235px;
}

footer .footer_container .footer_contact_info .heading_title {
  text-align: center;
}

footer .footer_container .footer_contact_info .contact_grid {
  display: grid;
  grid-template-columns: 442px 500px 442px;
  margin-top: 44px;
}

footer .footer_container .footer_contact_info .contact_grid .contact_grid_item {
  padding-bottom: 11px;
  text-align: center;
}

footer .footer_container .footer_contact_info .contact_grid .contact_grid_item h2 {
  font: 30px "Montserrat-Thin", serif;
}

footer .footer_container .footer_contact_info .contact_grid .contact_grid_item .grid_email .footer_icon {
  padding: 20px 0 27px 0;
  margin-left: 15px;
}

footer .footer_container .footer_contact_info .contact_grid .contact_grid_item .grid_location .footer_icon {
  padding: 20px 0 25px 0;
  margin-left: 15px;
}

footer .footer_container .footer_contact_info .contact_grid .contact_grid_item .grid_telegram .footer_icon {
  padding: 20px 0 26px 0;
  margin-left: 15px;
}

footer .footer_container .footer_contact_info .contact_grid .contact_grid_item h3 {
  font-size: 24px;
}

footer .footer_container .footer_contact_info .contact_grid .contact_grid_item:not(.border-not) {
  border-right: 1px solid black;
}

footer .footer_container .footer_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 44px;
  margin-top: 160px;
  border-top: 1px solid black;
}

footer .footer_container .footer_bottom .footer_menu {
  -ms-flex-item-align: center;
  align-self: center;
}

footer .footer_container .footer_bottom .footer_menu .footer_list {
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer_container .footer_bottom .footer_menu .footer_list .footer_list_item {
  font: 16px "Montserrat-Medium", serif;
  letter-spacing: -0.24px;
}

footer .footer_container .footer_bottom .footer_bottom_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
}

.header {
  background: #252525;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 999;
  height: 60px;
}

.header .header_container {
  width: 85%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header .header_container .logo {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  color: white;
}

.header .header_container .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 55px;
  font-weight: 400;
  font-size: 16px;
}

.header .header_container .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 66px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 14px;
  position: relative;
}

.header .header_container .contacts .social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1px;
  position: relative;
}

.header .header_container .contacts .social-networks .instagram::after {
  content: "";
  background: url("../../img/Instagram.svg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 28px;
  height: 28px;
}

.header .header_container .contacts .social-networks .facebook::after {
  content: "";
  background: url("../../img/Facebook.svg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 28px;
  height: 28px;
}

.header .header_container .contacts .tel_number {
  position: relative;
}

.header .header_container .contacts .tel_number .tel::before {
  content: "";
  background: url("../../img/Phone.svg");
  position: absolute;
  margin-left: -30px;
  margin-top: -8px;
  width: 28px;
  height: 28px;
}

@-webkit-keyframes heightFade {
  from {
    max-height: 100px;
  }

  to {
    max-height: 70px;
  }
}

@keyframes heightFade {
  from {
    max-height: 100px;
  }

  to {
    max-height: 70px;
  }
}

@-webkit-keyframes heightFadeReverse {
  from {
    max-height: 70px;
  }

  to {
    max-height: 100px;
  }
}

@keyframes heightFadeReverse {
  from {
    max-height: 70px;
  }

  to {
    max-height: 100px;
  }
}

.top_section {
  padding-top: 168px;
}

.top_section .section_container {
  width: 85%;
  height: 66vh;
  margin: 0 auto;
}

.top_section .section_container .photobooth_options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.top_section .section_container .photobooth_options .photobooth_main .photobooth_slogan {
  font: 700 40px "Montserrat-Bold";
  padding-top: 35px;
}

.top_section .section_container .photobooth_options .photobooth_main .photobooth_offer {
  padding-top: 50px;
  padding-bottom: 27px;
}

.top_section .section_container .photobooth_options .photobooth_main .btn_ref .photobooth_selection_btn {
  background: rgba(12, 61, 78, 0.6);
  border-radius: 69px;
  width: 221px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.top_section .section_container .photobooth_options .photobooth_main .btn_ref .photobooth_selection_btn .btn_text {
  font-size: 16px;
  font-weight: 500;
}

.top_section .section_container .photobooth_options .photobooth_main .photographer_select {
  padding-top: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  gap: 10px;
}

.top_section .section_container .photobooth_options .photobooth_aside .equipment_n_photobooth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.top_section .section_container .photobooth_options .photobooth_aside .equipment_n_photobooth .aside_photobooth_text {
  margin-top: 27px;
}

.top_section .section_container .photobooth_options .photobooth_aside .equipment_n_photobooth .photobooth_selection .under_selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.top_section .section_container .photobooth_options .photobooth_aside .equipment_n_photobooth .photobooth_selection .photobooth_selection_btn {
  background: rgba(12, 61, 78, 0.6);
  border-radius: 100%;
  margin-top: 15px;
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.top_section .section_container .photobooth_options .photobooth_aside .equipment_n_photobooth .photobooth_selection .photobooth_selection_btn img {
  margin-top: 5px;
}

.top_section .section_container .photobooth_options .photobooth_aside .aside_photobooth_text h3 {
  font: 500 18px "Montserrat-Medium";
}

.top_section .section_container .photobooth_options .photobooth_aside .aside_photobooth_text p {
  font-weight: 400;
  font-size: 14px;
}

.scnd_section {
  margin-top: 155px;
}

.scnd_section .scnd_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  margin: 0 auto;
}

.scnd_section .scnd_container .prostir_desc {
  margin: 76px 0 0 141px;
}

.scnd_section .prostir_desc_title {
  font: 700 40px "Montserrat-Bold";
}

.scnd_section .prostir_desc_text {
  font-size: 18px;
  font-weight: 400;
}

.scnd_section .advantages {
  font-size: 18px;
  font-weight: 400;
  margin: 80px 0 0 86px;
  position: relative;
}

.scnd_section .advantages .advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 64px;
}

.scnd_section .advantages .advantage.parking::before {
  background: url("../../img/ph_car.svg") no-repeat center #000;
  content: "";
  width: 62px;
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -85px;
  position: absolute;
  border-radius: 100%;
  z-index: 4;
}

.scnd_section .advantages .advantage.convenient_location::before {
  background: url("../../img/ei_location.svg") no-repeat center #000;
  content: "";
  width: 62px;
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -85px;
  position: absolute;
  border-radius: 100%;
  z-index: -4;
}

.scnd_section .advantages .advantage.diferent_photographers::before {
  background: url("../../img/camera.svg") no-repeat center #000;
  content: "";
  width: 62px;
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -85px;
  position: absolute;
  border-radius: 100%;
  z-index: -4;
}

section.locations .locations_container {
  width: 85%;
  margin: 0 auto;
}

section.locations .locations_container .locations_title {
  font: 700 36px "Montserrat-Bold";
  margin: 144px 0 68px 0;
  text-transform: uppercase;
}

section.locations .locations_container .locations_desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

section.locations .locations_container .hallname_and_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 27px 0 27px 0;
}

section.locations .locations_container .hall_name {
  font-size: 24px;
  font-weight: 400;
}

section.locations .locations_container .hall_price {
  background: black;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

section.locations .locations_container .hall_price .hall_price_text {
  padding: 10px 18px;
  color: white;
  font-size: 16px;
  font-weight: 400;
}

section.locations .locations_container strong {
  font-weight: 600;
  font-family: "Montserrat-SemiBold";
}

section.why_we {
  width: 85%;
  margin: 0 auto;
  padding-top: 162px;
}

section.why_we .container_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

section.why_we .why_we_title_advantages h2 {
  font: 36px "Montserrat-Bold";
  color: #0C3D4E;
}

section.why_we .why_we_advantages {
  width: 548px;
  padding-top: 50px;
}

section.why_we .why_we_advantages li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0 0 0;
  border-bottom: 1px solid black;
}

section.why_we .why_we_advantages li img {
  margin-right: 16px;
}

section.why_we .container_bottom {
  margin-top: 100px;
}

section.why_we .container_bottom .container_bottom_wrapper {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
}

section.why_we .container_bottom .container_bottom_wrapper .container_bottom_text {
  color: white;
  margin: auto 0;
}

section.why_we .container_bottom .container_bottom_wrapper .container_bottom_text h3 {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 40px;
}

section.why_we .container_bottom .container_bottom_wrapper .container_bottom_text p {
  font: 18px "Montserrat-Thin";
  margin-bottom: 70px;
}

section.why_we .container_bottom .container_bottom_wrapper .container_bottom_photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 22px 75px 22px 19px;
}

section.why_we .container_bottom .container_bottom_wrapper .container_bottom_btn {
  background: #fff;
  border-radius: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 221px;
  height: 45px;
}

section.why_we .container_bottom .container_bottom_wrapper .container_bottom_btn_text {
  font: 16px "Montserrat-Medium";
  color: black;
}

section.services_info {
  margin: 0 auto;
  width: 85%;
}

section.services_info .services_info_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 140px;
}

section.services_info .services_info_container .services_info_text h2 {
  font: 36px "Montserrat-Bold", serif;
  margin: 0 0 75px 7px;
}

section.services_info .services_info_container .services_info_text .services_advantages h3 {
  font: 18px "Montserrat-Bold", serif;
  margin-bottom: 18px;
}

section.services_info .services_info_container .services_info_text .services_advantages p {
  font-size: 18px;
  margin: 0 0 34px 0;
}

section.services_info .services_info_container .services_photo_and_exp .services_exp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section.services_info .services_info_container .services_photo_and_exp .services_exp .services_exp_text {
  margin-right: 27px;
}

section.services_info .services_info_container .services_photo_and_exp .services_exp .services_exp_text h2 {
  font: 64px "Montserrat-Bold", serif;
  margin: 55px 0 0 0;
}

section.services_info .services_info_container .services_photo_and_exp .services_exp .services_exp_text p {
  font-size: 16px;
  margin: 16px 0 0 0;
}